/*--------------- ACTIVIDADES -------------*/

.titulo__actividades {
  font-size: $size_titulos/2;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  color: $color_titulos;
  margin: 1em;
}

.actividades {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.actividad {
  color: black;
  background: rgb(145,251,200);
  background: linear-gradient(180deg, rgba(145,251,200,1) 34%, rgba(183,255,212,1) 70%);
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  text-align: center;
  width: 30%;
  margin: 0.5em;
}

.actividad__nombre {
  font-size: 3em;
  font-weight: bold;
  margin: 2em;
}

.actividad__descripcion {
  font-size: 0.5em;
  text-align: center;
  margin: 0 1em;
}

.btn {
  font-size: 1em;
  background-color: #3AAF77;
  border: none;
}

