/* OPERACIONES */

$alto-box: 30px;
$ancho: 600px;
$blue: #4285F4;
$green: #33D374;

.box_uno {
    background-color: $blue;
    width: $ancho/2; /* Ancho de 400 */
    height: $alto-box;
}

.box_dos {
    background-color: $green;
    width: ($ancho/2)-100; /* Ancho de 300 */
    height: $alto-box;
}


/* CONDICIONALES */

$animal: perro; /* Mi variable */
p {
      @if $animal == gato {
             color: blue;
      } @else if $animal == perro {
                 color: red;
     } @else if $animal == caballo {
                color: green;
     } @else {
                color: black;
      }
}



$cuadrado: azul;
.caja {
    
    @if $cuadrado == rojo {
        background-color: red;
        width: 50px;
        height: 50px;
    } @else if $cuadrado == azul {
        background-color: blue;
        width: 50px;
        height: 50px;
        color:white;
    } @else if $cuadrado == verde {
        background-color: green;
        width: 50px;
        height: 50px;
   } @else {
        background-color: black;
        width: 50px;
        height: 50px;
    }
}

/* BUCLES */

@for $i from 1 through 3 {
    .cajas-#{$i} { 
        width: 5em * $i; 
        background-color: black;
        border: solid 1px red;
        color: white;
    }
}


/* EACH */

@each $redes in instagram, facebook, twitter, linkedin, whatsapp {
    .#{$redes}-icono { 
          background-image: url('/Imagenes/#{$redes}.png');
          width: 16px;
          height: 16px;
    }
}
 
/* MAPS */

$redes: ( 
        twitter: #55acee,
        facebook:  #3a5795,
        send-mail: #C25E30
); 
/*Creamos el bucle para usar los valores del mapa*/
@each $red, $color in $redes {
   .boton--#{$red} {
       background-color: $color;
   }
}

/* SOCIALES */

$sociales: (
    linkedin: green,
    whatsapp: yellow,
    tres: blue
); 

@each $clave, $valor in $sociales {
    .sociales--#{$clave} {
        background-color: $valor;
    }
}

/* EXTEND */

.redsocial {
    border: 1px #f00;
    background-color: #fdd;
}
.redsocial--nueva {
    @extend .redsocial;
    border-width: 3px;
}

.card {
    text-align: center;
    border: solid 1px black;
    width: 200px;
    margin: 10px auto;
}

.card-dos {
    @extend .card;
    background-color: rgb(231, 255, 183);
    width: 300px;
}

/* MIXINS */

@mixin boxes($ancho, $alto, $color) {
    height: $alto;
    width: $ancho;
    color: $color;
 }
.box {
    @include boxes(500px, 50px, white);    
    background-color: rgb(207, 207, 207);
    border: 1px solid red;
 }

.box-dos {
    @include boxes(300px, 100px, green);
    background-color: blue;
    border: solid 1px green;
} 

.box-tres {
    @include boxes(100px, 100px, none);
    border: solid 1px black;
}