/*----------MEDIA QUERY------------*/
@media (max-width: 1030px) {

  //GENERALES

  .navbar-nav {
    background-color: white;
  }

  .navbar-collapse {
    background-color: white;
  }

  .redes__sociales {
    display: flex;
    flex-direction: row;
    position: relative;
    align-content: center;
    justify-content: center;
  }

  .footer__horizontal {
    display: none;
  }

  //INDEX

#logo__principal {
  width: 100%;
  height: 100%;
  padding: 2em;
  margin: 2em;
}

  // HORARIOS Y ARANCELES

  .tablas__horarios {
    flex-wrap: wrap;
  }

  .tabla__nombre {
    font-size: 3em;
  }

  .tabla__titulo {
    font-size: 2em;
  }

  .tabla__horario,
  .tabla__actividad {
    font-size: 1.5em;
  }

  .aranceles {
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    color: black;
  }

  .aranceles {
    h2 {
      font-size: 3em;
    }

    p {
      font-size: 1.5em;
    }
  }

  .preguntas__protocolo {
    font-size: 2em;
  }

  .preguntas__consideraciones {
    font-size: 1.5em;
  }

  .preguntas__faq {
    font-size: 3em;
  }

  //ACTIVIDADES

  .actividad {
    width: 50%;
  }

  // PRODUCTOS

  .titulo__nosotros {
    font-size: 3em;
    margin: 1.5em;
  }

  .nosotros__title {
    font-size: 2.5em;
  }

  .nosotros__text,
  .btn {
    font-size: 1.5em;
  }

  //CONTACTO

  .titulo__contacto {
    font-size: 2.5em;
    margin: 1.5em;
  }

  .formulario__mapa {
    flex-wrap: wrap;
  }

  .contacto,
  .mapa {
    width: 100%;
  }

}